/* adding montseratt font in css - not all operating systems may have this font-included all weights and styles of the font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* background colour and fonts are consistent throughout the every breakpoint */
body{
    background-color:#f7f7ff;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}
/* margins are similar through all break points.  Setting them up for mobile first */
main{
    margin: 2rem;
    margin-bottom: -2rem;
}
/* logo size paramters fixed here since they will be the same throughout */
header img{ 
    max-width: 99.94px;
    height: 81.05px;
}
/* sizing for large blocks of text that show up above image */
.main-text h1{
    font-size: 60px;
}
.main-text p{
    font-size: 24px;
}
/* creating image parameters for mobile view image */
.background{
    background-image: url(../images/bg-image/scooter.svg);
    background-repeat:no-repeat ;
    background-position: center;
    padding: 7rem;
}

/* application form parameters to align with the landing page image */
div.contact{
    background-color:#FFFFFF;
    border: 0;
    border-radius: 26px;
    padding: 1rem;
    box-shadow: 5px 10px 15px #33313166;
}
.contact h2{
    font-size: 40px;
    text-align: left;
    margin:0;
}
.contact p{
    font-size: 14px;
    text-align: left;
}
input[type=text]{
    background-color:#F4F4F5;
    border: 0;
    border-radius: 11px;
    margin-bottom: 20px;
    padding: 12px;
    width: 90%;
}
div input{
    margin-bottom: 10px;
    border-radius: 4px;;
}
a{
    color: #FF8480;
}
.contact input[type=submit]{
    background-color:#57EEAB;
    border-radius: 11px;
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    height: 50px;
    width: 100%;
}
/* footer settings that inclue text and other contact information */
footer{
    background-color: #FFFD8C;
    padding: 2rem;
    margin-top: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
}
/* allows developer to display contact hours and city side by side */
.box1{
    display: flex;
}
#hours{
    flex: 1;
    margin-right: 10px;
}
#city{
    flex: 3;
}
.box2 input[type="submit"]{
    background-color:#FF8480;
    border-radius: 11px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    height: 50px;
    width: 100%;
    border: none;
    color: white;

}
.icons img{
    margin:5px;
    text-align: center;
    padding: 1rem;
}
/* ^^ above is mobile first css styling */

/* tablet view css styling */
@media(min-width: 375px){

/* changing the size of the image to better fit a tablet view */
.background{
    top:-65px;
    position: relative;
    padding:9rem;

}
/* small changes made to go from mobile to tablet view - for easier viewing */
.main-text{
    text-align: left;
}
.main-text h1{
    text-align: left;
}

/* allows me to align hours,city and calculate along one line for tablet users */
.footertext{
    display: flex;
}
#hours{
    flex: 1;
    margin-right: 10px;
    background-color:#F7F7FF;
}
#city{
    flex: 3;
    margin-right: 10px;
    background-color:#F7F7FF;
}
/* makes the calculate button a bit bigger to suit the tablet view */
.box2 input[type="submit"]{
    height: 40px;
    width: 10rem;
}
/* centering the icons for the larger breakpoint */
.icons{
    text-align: center;
}

}

@media(min-width: 768px){
.grid{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 20px;
}
.background{
    max-width: 100%;
    height: auto;
    margin: -10rem;

}
.contact{	
    z-index: 9;
}	

/* allows me to align all footer items along one axis */
.flex{
    display: flex;
    }
#hours{
   height: 20px;
}
#city{
    height: 20px;
}
/* brings icons to the far right side of the browser */
.icons{
    margin-left:auto;

}
}