/* adding montseratt font in css - not all operating systems may have this font-included all weights and styles of the font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* background colour and fonts are consistent throughout the every breakpoint */
body{
    background-color:#f7f7ff;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}
/* mobile view styles*/

/* margins for mobile view */

/* logo size paramters for mobile view */
header img{ 
    width: 99.94px;
    height: 81.05px;
    margin-left: 2rem;
}
article.content{
    margin: 2rem;
}
/* sizing for large banner text for mobile view */
.main-text h1{
    font-size: 60px;
    margin-bottom: 0;
}
.main-text p{
    font-size: 24px;
    margin-top: 0;
}
/* creating image parameters for mobile view image */
div.back-image{
    background-image: url(../images/bg-image/scooter.svg); 
    padding:7rem;
    background-repeat:no-repeat ;
    background-position: center;
}

/* apply form parameters to contact form for all views */
div.contact{
    background-color:#FFFFFF;
    border: 0;
    border-radius: 26px;
    padding: 1rem;
    box-shadow: 5px 10px 15px #33313166;
    margin-bottom: 3rem;
}
div.contact h2{
    font-size: 40px;
    text-align: left;
    margin:0;
}
div.contact p{
    font-size: 16px;
    text-align: left;
}
.contact input[type=text]{
    background-color:#F4F4F5;
    border: 0;
    border-radius: 11px;
    margin-bottom: 1rem;
    height: 55px;
    padding-left: 10px;
    width: 90%;
}
.contact input[type=checkbox]{
    margin-bottom: 1.5rem;
}
label{
    font-size: 16px;
}
/* style parameters for apply form button - mobile view */
div.contact input[type=submit]{
    background-color:#57EEAB;
    border-radius: 11px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    height: 55px;
    width: 100%;
    /* width: 250px; */
}
/* adding colour to make sure link stands out */
div.application p{
    font-size: 14px;
}
.application a{
    color: #FF8480;
    text-decoration:none;
}
/* footer settings that inclue text and other contact information */
footer{
    background-color: #FFFD8C;
    padding:1rem 2rem 1rem 2rem;
}
.footer-text h4{
    font-size: 18px;
    margin-right: 20%;
    margin-bottom: 0;
}
.footer-text p{
    font-size: 16px;
    margin-right: 20%;
}
.hours{
    margin-right: 2rem;
}

.footer-input input[type=text]{
    background-color:#F7F7FF;
    border: 0;
    border-radius: 11px;
    padding: 12px;
}
/* allows developer to display contact hours and city side by side */
.footer-input{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
}

.calculate{
    grid-column: span 2;
}
/* this allows me to control dimensions and style of the calculate button */
.calculate input[type="submit"]{
    background-color:#FF8480;
    border-radius: 11px;
    font-size: 24px;
    font-weight: bold;
    height: 40px;
    width: 100%;
    border: none;
    color: white;
    margin-bottom: 1rem;
}
/* using flex to align the icons along the bottom of footer */
.icons{
    display: flex;
    justify-content: space-between;
    margin:5px;
    padding: 1rem;
}
/* tablet view css styling */
@media(min-width: 376px){

/* tablet margin for website */
article.content{
    margin: 0 5rem;
}
/* larger font size for larger view */
.main-text h1{
    font-size: 80px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/* changing the size of the image to better fit a tablet view */
div.back-image{
    top:-65px;
    position: relative;
    padding:9rem;
}
div.contact h2{
    margin-left: 1rem;
    margin-top: 1rem;
}
div.contact p{
    font-size: 30px;
    margin-left: 1rem;
}
form.contact-form{
    margin-left: 1rem;
}
label{
    font-size: 20px;
}
.contact input[type=submit]{
    width: 92%;
    font-size: 32px;
}
div.contact{
    margin-bottom: 6rem;
}
div.application p{
    font-size: 16px;
}
footer{
padding-left:5rem;
padding-right: 5rem;

}
/* allows me to align hours,city and calculate along one line for tablet users */

.footer-input{
    display: grid;
    grid-template-columns: 20% 45% 35%;
}
.calculate{
    grid-column: 3 / 4;
}
.icons{
    display: flex;
    justify-content: center;
    padding:0;
}
.icons img{
    margin: 1rem;
}
}
@media(min-width: 768px){
article.content{
    margin: 4rem;
}
.content{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 20px;
}
.back-image{
    width: 100%;
    height: auto;
    margin: -10rem;   
}
.contact{	
     z-index: 9;
}	
div.application p{
    font-size: 15px;
}

.footer-input{
    display: grid;
    grid-template-columns:repeat(2, 1fr);

}
.icons{
    display: flex;
}
.icons img{
    margin-left: auto;
    justify-content: end;
}
}