/* all types of Raleway text for all html documents associated with it */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
/* setting the margins and line heights for the text areas */
h1,h2,h3,p{
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1rem;
    line-height: 2rem;
}
p{
    font-weight: 200;
}
/* allows my images to be responsive */
img{
    width: 100%;
    height: auto;
}
/* navigation is the same through all three pages */
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 1rem;
}
header nav ul li a.active{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    }
/* footer settings are the same across all three pages */
footer{
    background-color:#3C3B3A;
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: center;
}
/* styling for social media icons */
footer .social{
    margin-left: 35%;
}

footer .social h3{
    margin-bottom: 10px;
    color: white;
    font-weight: normal;
    text-align: center;
}
footer .social-icons{
    text-align: center;
    padding-bottom: 1rem;
}
footer .social-icons img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
/* styling done for back to top arrow with text */
footer .arrow{
    text-align: center;
    margin-left:20%;
}
footer .arrow img{
    width: 50px;
    height: 50px;
    padding-top: 2rem;
}
footer .arrow p{
    margin: 0;
    font-size: 9px;
    text-align: center;
    color: white;
}
/* navigation background colour is the same through all views */
.navigation{
    background-color: #3C3B3A;
    padding-bottom: 0.5rem;
}
/* logo image size is specified here because it doesn't change through any views */
.navigation img{
    height: 54px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* changes to HOMEPAGE mobile view */

/* heading block of text styles */
.block-head h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0rem;
    line-height: 3rem;
}
.block-head p{
    font-size: 20px;
    color: #3C3B3A;
    text-align: left;
}
/* using grid here to create a nice uniform view of the icons */
.icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin: 2rem;
    text-align: center;
}
.icons img{
    width: 25%;
    height: auto;
    margin: auto;
}
.icons p{
    margin: 0;
    text-align: center;
    color: #26A682;
}
/* styles for the largest and biggest button on the home page */
.main-button{
    display: flex;
}
/* using animation here to make button spin when pressed on */
.main-button:active{
    animation-name: around;
    animation-duration: 5s;
}
@keyframes around{
    100%{
        transform: rotateX(10turn);
    }
}
/* giving the main button it's styling */
.button1{
    background-color: #26A682;
    color:#F2F2F2;
    border-radius: 40px;
    width: 300px;
    height: 50px;
    font-size: 32px;
    font-weight: bold;
    border: none;
    box-shadow: 0 10px 10px #124A3A;
    margin-left: auto;
    margin-right:auto;
}
/* background image styling to make it responsive */
/* giving the woman reading image a smaller width to make it more suitable to fit within the page */
.discover img{
    padding-top: 2rem;
    width: 85%;
    display: block;
    margin: auto;
}
/* using display none to hide the scroll image during mobile view */
.scroll-down-arrow{
    display: none;
}
/* styles for second and third blocks of text */
.block-white-home h2{
    font-size: 32px;
    font-style: italic;
    font-weight: normal;
}
.block-white-home h3{
    font-size: 24px;
    color: #26A682;
    font-weight: normal;
}
.block-white-home p{
    margin-top: 0rem;
    color: #3C3B3A;
    text-align: left;
}
/* styling for both the smaller buttons on the homepage */
/* displaying flex allows me to move the button to the other side of the webpage */
.small-button{
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}
.button2{
    background-color: #26A682;
    color:#F2F2F2;
    border-radius: 40px;
    width: 146px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    box-shadow: 0 10px 10px #124A3A;
    margin-right: 2rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
}
/* styling for the profile page break--colour and text are different from rest of the page */
.profile{
    background-color: #3C3B3A;
    padding-top:0.5rem;
    width: 100%;
}
/* styling for the profile pagebreak image - creating a small circular image with a border - centered */
.simon img{
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    width: 50%;
    height: auto;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.simon-text h3{
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 0rem;
}
.simon-text p{
    color: white;
    margin-bottom: 0;
    padding: 1rem;
}


/* changes to ABOUT mobile view */
/* similar styling as home page image-trying to make sure the construction image fits within constraints of webpage */
.construction img{
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}
.banner{
    position: relative;
}
/* using overlay class to put a colour over the banner images in the about page */
.overlay{
    width: 100%;
    height: 100%;
    background-color: #26A682;
    position: absolute;
    mix-blend-mode: multiply;
}
/* using transform here to get the correct view of the image as close to the mockup as possible */
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-text h1{
    font-size: 50px;
    color: white;
    z-index: 2;
}
.about-info h2{
    font-size: 32px;
    font-style: italic;
}
/* about page has a block of white background text  -- styling done for all white background areas of text*/
.block-white-about h2{
    font-size: 32px;
}
.block-white-about h3{
    font-size: 24px;
    color: #26A682;
    font-weight: normal;
}
.block-white-about p{
    font-size: 15px;
    color: #3C3B3A;
}
/* about page has a grey background block of text -- styling done for all grey background areas of text */
.block-grey-about{
    background-color: #F2F2F2;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.block-grey-about h2{
    font-size: 32px;
}
.block-grey-about h3{
    font-size: 24px;
    color:#26A682;
    font-weight: normal;
}
.block-grey-about p{
    font-size: 15px;
    color: #3C3B3A;
}
.restaurant-image img,
.bowling-image img,
.fitness-image img,
.rock-climb-image img{
    display: none;
}
/* page break area specific to the about page */
.page-break{
    background-color: #3C3B3A;
    padding: 1rem;
    display: block;
}
.page-break p{
    font-size: 18px;
    color: #F2F2F2;
    margin: 0;
    text-align: center;
}
.basic-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button3{
    background-color: #26A682;
    color:#F2F2F2;
    border-radius: 40px;
    border: none;
    width: 140px;
    height: 35px;
    font-weight: bold;
    font-size: 20px;
}
.sponsor-block{
    display: block;
    text-align: center;
}
.special h1{
    font-size: 56px;
    text-align: center;
    line-height: 4rem;
    padding-bottom: 1rem;
}
.company img{
    width: 30%;
    height: auto;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

/* changes to CONTACT mobile view */

.block-head-contact h1{
    font-size: 50px;
    color: #3C3B3A;
    margin-bottom: 0rem;
}
.block-head-contact p{
    font-size: 20px;
    color: #3C3B3A;
    text-align: left;
}
.contact-image img{
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}
/* contact form styling done here */
.form-layout{
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem;
}
.contact-form{
    background-color:#26A682;
    border: 0;
    border-radius: 25px;
    box-shadow: 10px 10px 7px #144033;
    padding: 1rem;
}
/* style for contact form title */
.contact-form h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 1rem;
}
/* font styling for label of each specific contact form input area */
.textbox label{
    color: white;
    padding: 1rem;
    font-size: 18px;
    padding-left: 0rem;
}
.textbox input[type=text]{
    background-color: white;
    border: 0;
    border-radius: 72px;
    width: 100%;
    height: 40px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
/* allows me to adjust the placeholder text styles */
.textbox input::placeholder{
    font-size: 18px;
    padding: 1rem;
}
/* text area sizing and styling done here */
textarea{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border: none;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
textarea::placeholder{
    font-size: 18px;
    padding: 0.5rem;
}
/* contact form button styling done here */
input[type=submit]{
    background-color: #3C3B3A;
    color: white;
    font-weight: bold;
    font-size: 32px;
    width: 100%;
    padding: 0.5rem;
    box-shadow: 0 10px 10px #124A3A;
    margin-bottom: 1rem;
    border: none;
    border-radius: 40px;
}
/* location specific text adjustement are made here--each size of text varies in colour and size */
.location h2{
    font-size: 40px;
}
.location h3{
    font-weight: 300;
    font-size: 24px;
}
/* map width is adjusted to 100 percent to cover whole length of viewing screen */
iframe{
    width: 100%;
}


/* TABLET views for all pages */
@media(min-width: 376px){

    /*table view for HOME page*/
    /* making the nav bar smaller to make it look less bulky */
    .navigation{
        padding-bottom: 0;
        display: grid;
        grid-template-columns: 25% 75%;
    }
    .arc-logo{
        width: 75%;
        overflow: hidden;
        display: flex;
        margin: auto;
    }
    .navigation img{
        margin-left: 0;
    }
    .nav-links{
        display: grid;
        grid-template-columns: 15% 15% 20%;
        justify-content: end;
        margin-right: 1.5rem;
        padding-top: 1rem;
        grid-column-gap: 1rem;

    }
    .block-head h1{
        font-size: 72px;
        line-height: 4rem;
    }
    /* using grid here to to line up icons side by side */
    .icons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 0rem;
        padding: 1rem;
    }
    .button1{
        height: 65px;
        font-size: 40px;
    }
    /* using animation properties on the scroll button to make it go up and down */
    .scroll-down-arrow{
        display: block;
        margin-left:47%;
        animation-name: scroll;
        animation-duration: 8s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
    @keyframes scroll{
        50%{transform: translate(0, -100px);}
    }
    .scroll-down-arrow img{
        height: 50px;
        width: 50px;
    }
    .school,
    .entertainment{
        height: 200px;
        overflow: hidden;
    }
    .school img,
    .entertainment img{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .block-white-home h2{
        font-size: 40px;
    }
    .block-white-home h3{
        font-size: 32px;
    }
    .block-white-home p{
        font-size: 18px;
    }
    /* using flex here to line up image beside paragraph text */
    .profile{
        display: flex;
        padding-bottom:1rem;
    }
    .simon img{
        width:70%;
        height: auto;
    }

    /*tablet view styling for ABOUT page*/
    .block-head{
        overflow: hidden;    
    }
    .banner-text{
        z-index: 2;
    }
    .banner{
        height: 200px;
        overflow: hidden;
    }
    .banner img{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    /* this allows me to create a green cover over the the large images */
    .overlay{
        width: 100%;
        height: 100%;
        background-color: #26A682;
        position: absolute;
        z-index: 1;
    }
    /* using display inline here allows me to bring in the images that were absent in mobile view */
    .bowling-image img,
    .rock-climb-image img,
    .restaurant-image img,
    .fitness-image img{
        display: inline;
    }
    /* combining both classes and using flex here to bring images and text side by side */
    .block-white-about,
    .block-grey-about{
        display: grid;
        grid-template-columns: 1fr 1fr
    }
    /*using perecentages and flex to style the image across the container*/
    .bowling-image,
    .rock-climb-image,
    .restaurant-image,
    .fitness-image{
        height: 80%;
        width: 75%;
        overflow: hidden;
        display: flex;
        margin: auto;
    }
    .bowling-image img,
    .rock-climb-image img,
    .restaurant-image img,
    .fitness-image img{
        object-fit: cover;
    }

    /*font gets larger as we move through larger views*/
    .block-white-about h2,
    .block-grey-about h2{
        font-size: 40px;
    }
    .block-white-about h3,
    .block-grey-about h3{
        font-size: 32px;
    }
    .block-white-about p,
    .block-grey-about p{
        font-size: 18px;
    }
    /*using flex here to align the text and button side by side*/
    .page-break{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .page-break-text{
        margin-right: 5%;
    }
    .page-break p{
        text-align: center;
        margin:0;
    }
    /*using flex here with flex direction to get the sponsor icons into a horizontal view*/
    .company{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .company img{
        width: 25%;
    }
    .social{
        padding-top: 1rem;
    }
    .contact-image img{
        width:75%;
    }
    /*changing the width of the form to fit within the page nicely*/
    .form-layout{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    div.submit{
        width: 50%;
        margin-left:50%;
        text-align: left;
    }
    .location{
        margin-left: 3rem;
    }
    iframe{
        height: 400px;
    }

}

@media(min-width: 769px){

    /* desktop view of HOMEPAGE */
    /* using grid here allows me to section off my text and icons from the image for all three pages pages*/
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 2rem;
    }

    .discover img{
        padding-top: 20%;
    }
    /* created a class to specifcally change the background colour of the block containing the school image */
    .background-desktop{
        background-color:#F2F2F2;
    }
    /* using grid here to section off the image from the text for both the school and entertainment section */
    .homepage-block-desktop{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .school{
        margin-left: 2rem;
        margin-top: 3rem ;
    }
    .entertainment{
        margin-top: 3rem;
        margin-right: 2rem;
    }
    /*using display grid here to make the image and title go side by side for the desktop view*/
    .simon{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .simon-text{
        margin: auto;
    }


    /* desktop changes to ABOUT page */

    .construction img{
        padding-top: 4rem;
    }
    .construction:hover{
        animation-name: spin;
        animation-duration: 5s; 
    }
    @keyframes spin{
        100%{
            transform: rotateY(5turn);
        }
    }
    /* using grid here to create 3 equal columns of text */
    .about-info{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #F2F2F2;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .block-white-about,
    .block-grey-about{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }
    .banner{
        height: 250px;
        overflow: hidden;
    }
    .block-white-about-text,
    .block-grey-about-text{
        margin: auto;
    }
    /*using flex, height and width adjustments to resize and fit the image according to mockup*/
    .bowling-image,
    .rock-climb-image,
    .restaurant-image,
    .fitness-image{
        height: 60%;
        width: 90%;
        overflow: hidden;
        display: flex;
        margin: auto;
    }
    .bowling-image img,
    .rock-climb-image img,
    .restaurant-image img,
    .fitness-image img{
        object-fit: cover;
    }

    .page-break p{
        text-align: center;
        margin:0;
        font-size: 24px;
    }
    /* using flex here to make all the logos line up horizontally */
    .company{
        display: flex;
        flex-direction: row;
    }
    .company{
        margin-left: 20%;
        margin-right: 20%;
    }

    .location{
        margin-left: 0;
    }

    .contact-form{
        width: 75%;
        margin-top: 20%;
        margin-left: auto;
    }
    /*desktop changes to CONTACT page*/

    /* using grid here to create two blocks between the text and map */
    .location-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }

    .contact-form:active{
        transform: rotateY(3turn);
        transition: 0.5s;
    }

    .map{
        margin-right: 2rem;
        height: 500px;
    }



}


